@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --text-active-dark: #ffffff;  /* Active text color in dark mode */
  --text-inactive-dark: #71717a; /* Inactive text color in dark mode */
  --text-hover-dark: #cbd5e0;  /* Hover text color in dark mode */

  --text-active-light: #1a202c; /* Active text color in light mode */
  --text-inactive-light: #71717a; /* Inactive text color in light mode */
  --text-hover-light: #27272a;  /* Hover text color in light mode */
}

[data-theme='light'] {
  --background-color: #ffffff; /* Light theme background */
  --text-color: #000000;       /* Light theme text color */
  --text-active: var(--text-active-light);
  --text-inactive: var(--text-inactive-light);
  --text-hover: var(--text-hover-light);
}

[data-theme='dark'] {
  --background-color: #363636; /* Dark theme background */
  --text-color: #ffffff;       /* Dark theme text color */
  --text-active: var(--text-active-dark);
  --text-inactive: var(--text-inactive-dark);
  --text-hover: var(--text-hover-dark);
}

:root[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #fff;
}

:root[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #000;
}



/* Applying themes using class selectors */
.light-mode {
  --text-color: #000000;       /* Light theme text color */
  --text-active: var(--text-active-light);
  --text-inactive: var(--text-inactive-light);
  --text-hover: var(--text-hover-light);
}

.dark-mode {
  --text-color: #ffffff;       /* Dark theme text color */
  --text-active: var(--text-active-dark);
  --text-inactive: var(--text-inactive-dark);
  --text-hover: var(--text-hover-dark);
}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

.radix-themes {
  background-color: var(--background-color);
  color: var(--text-color);
}

html.dark .research-invert {
  filter: invert(1);
}

.research-invert {
  filter: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

.markdown > * {
  all: revert;
}