@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} 

:root[data-theme='light'] {
  --background-color: #ffffff; /* Light theme background */
  --text-color: #000000;       /* Light theme text color */
  --navbar-bg-color: #ffffff; /* Light theme background color */
  --navbar-text-color: #000000; /* Light theme text color */
}
:root[data-theme='dark'] {
  --background-color: #363636; /* Dark theme background */
  --text-color: #ffffff;       /* Dark theme text color */
  --navbar-bg-color: #363636; /* Dark theme background color */
  --navbar-text-color: #ffffff; /* Dark theme text color */
}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  /* ... */
}


.radix-themes {
  background-color: var(--background-color); /* Or the specific color you want */
  color: var(--text-color); /* Or the specific color you want */

}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: var(--background-color);
  color: rgb(var(--foreground-rgb));

} 

html.dark .research-invert {
  filter: invert(1);
}

.research-invert {
  filter: none; /* Ensures that by default, no filter is applied */
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
  --background-color: #363636; /* Dark theme background */
  --text-color: #ffffff;       /* Dark theme text color */
  --navbar-bg-color: #363636; /* Dark theme background color */
  --navbar-text-color: #ffffff; /* Dark theme text color */
}
}

body.light {
  background-color: #fff;
  color: #333;
}

body.dark {
  background-color: #333;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}